---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
{% if page.url == "/" %} 
<div class="rounded mb-5 hero">
  <div class="row align-items-center justify-content-between">
    <div class="col-md-6">
      <h1 class="font-weight-bold mb-4 serif-font">Let us share our journey with you</h1>
      <p class="lead mb-4">We are Chef Alaine and Coach Rye and we're here to share our culinary and migration journey with you.</p>
      <div class="row">
        <div class="col-lg-6 text-center">
          <a href="{{site.baseurl}}/yummy" class="btn text-white px-5 btn-lg m-1 lh-1" id="btnYummy">
            <strong>Yummy's</strong><small><br>&nbsp;Daily Tales&nbsp;</small></a>    
        </div>
        <div class="col-lg-6 text-center">
          <a href="{{site.baseurl}}/tummy" class="btn btn-primary text-white px-5 btn-lg m-1 lh-1">
            <strong>Tummy's</strong><small><br>Immigrant Chronicles</small></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a href="{{site.baseurl}}/foodies" class="btn btn-danger text-white px-5 btn-lg m-1 lh-1">
            <strong>YummyTummy's</strong><small><br>&nbsp;Food Explorations&nbsp;</small></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right pl-0 pl-lg-4">
      <img class="intro" height="500" src="{{site.baseurl}}/assets/images/yt-about.jpg" alt="Yummy and Tummy under Snow">      
    </div>
  </div>
</div>
<style>
  #btnYummy {
    background-color: #d63384;
    border-color: #d63384;
}
</style>
{% endif %}

<!-- Featured
================================================== -->
<section class="row">
  {% for post in site.posts %}
      {% if post.featured == true %}
          <div class="col-md-4 mb-5">
          {% include postbox.html %}
          </div>
      {% endif %}
  {% endfor %}
  </div>
</section>

<!-- Posts List with Sidebar (except featured)
================================================== -->
{% if thisishidden == true %}
<section class="row">
  <div class="col-sm-8">
    <div class="row">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
      <div class="col-md-6 mb-5">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
{% endif %}

<style>
  .lh-1 {
    line-height: 1;
  }
  small {
    font-size:65%;
  }
</style>