<div class="card sticky-div mt-2">

  <div class="card-body">

    <h3 class="card-title text-center">Recent Posts</h3>
  </div>
    <ul class="list-group list-group-flush">
      {% for post in site.posts limit:3 %}
        <li class="list-group-item" style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;">
          <div style="float: left; max-width: 80px; max-height: 45px; margin-right: 5px;"><a href="{{ post.url | relative_url }}" aria-label="{{ post.title }}"><img width="150" height="150" src="{{ post.image }}" style="max-width:80px;max-height:45px;"></a></div>
          <a class="card-link" href="{{ post.url | relative_url }}">{{ post.title }}</a></br>
          <time datetime="{{ page.date | date_to_xmlschema }}" 
          style='font-family:"Source Sans Pro", Helvetica, sans-serif; display: block; line-height: 1px;font-size: 12px; margin-bottom: 12px;'>{{ post.date | date: "%b %-d, %Y" }}</time>
        </li>
      {% endfor %}
    </ul>

  <div class="card-body">
    {% if site.categories.size > 0 %}
      <h3 class="card-title text-center">Categories</h3>
      <div class="category-tags d-flex flex-wrap justify-content-center px-5">
        {% for category in site.categories %}
          {% assign category_name = category | first %}
          {% capture anchor_url %}categories.html#{{ category_name | slugify }}{% endcapture %}
          {% assign category_name_list = category_name | split: ' ' %}
          {% capture capitalized_category_name %}
            {% for word in category_name_list %}
              {{ word | capitalize }}
            {% endfor %}
          {% endcapture %}
          <a class="card-link my-1 py-2 px-3" href="{{ anchor_url | relative_url }}">
            {{ capitalized_category_name }}
          </a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
