// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/cadre/custom-variables.scss` to override variable defaults)

.navbar {
    // your custom navbar style
    padding: 5% 15%; 
  }

footer .container {
    padding-top: 25px;
    padding-bottom: 25px;
}