---
layout: default
---

{{ content }}  

{% for category in site.categories %}
{% if category[0] == page.corner %}
<h5 class="mt-5 mb-4 p-2 border-bottom text-center bg-secondary text-white" id="{{ category[0] | replace: " ","-" }}"><span class="text-capitalize small font-weight-bold">Latest Updates from {{ category[0] }}'s Corner</span></h5>
<section class="row">
    <div class="col-sm-8">  
<div class="row">
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
<div class="col-md-6 mb-5">
{% include postbox.html %}
</div>
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
</div>
{% endif %}
{% endfor %}
<div class="bottompagination">
    <span class="navigation" role="navigation">
        {% include pagination.html %}
    </span>
  </div>
</div>
<div class="col-sm-4">
  {% include sidebar.html %}
</div>
</section>